include README.rst
include AUTHORS
include INSTALL
include LICENSE

recursive-include reportapi *
recursive-include docs *
recursive-include example *

recursive-exclude example/media *
recursive-exclude * *.sqlite
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
