{% comment %}<!--
 
    Copyright 2013-2015 Grigoriy Kramarenko <root@rosix.ru>

    This file is part of ReportAPI.

    ReportAPI is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    ReportAPI is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with ReportAPI. If not, see
    <http://www.gnu.org/licenses/>.
-->
{% endcomment %}{% load i18n l10n reportapi_base %}<?xml version="1.0" encoding="UTF-8"?>
<office:document office:version="1.2"
    office:mimetype="{{ DOCUMENT.mimetype|default:'application/vnd.oasis.opendocument.text' }}"
    xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0"
    xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
    xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
    xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
    xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
    xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0"
    xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0"
    xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0"
    xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
    xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
    xmlns:math="http://www.w3.org/1998/Math/MathML"
    xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0"
    xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0"
    xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0"
    xmlns:ooo="http://openoffice.org/2004/office"
    xmlns:ooow="http://openoffice.org/2004/writer"
    xmlns:oooc="http://openoffice.org/2004/calc"
    xmlns:dom="http://www.w3.org/2001/xml-events"
    xmlns:xforms="http://www.w3.org/2002/xforms"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:rpt="http://openoffice.org/2005/report"
    xmlns:of="urn:oasis:names:tc:opendocument:xmlns:of:1.2"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:grddl="http://www.w3.org/2003/g/data-view#"
    xmlns:tableooo="http://openoffice.org/2009/table"
    xmlns:field="urn:openoffice:names:experimental:ooo-ms-interop:xmlns:field:1.0"
    xmlns:formx="urn:openoffice:names:experimental:ooxml-odf-interop:xmlns:form:1.0"
    xmlns:css3t="http://www.w3.org/TR/css3-text/">

<office:meta>{% block office_meta %}
<!-- BLOCK OFFICE_META -->

    <!-- IN TAG: BLOCK OFFICE_META_DC_TITLE -->
    <dc:title>{% block office_meta_dc_title %}{{ DOCUMENT }}{% endblock %}</dc:title>
    <!-- IN TAG: BLOCK OFFICE_META_DC_SUBJECT -->
    <dc:subject>{% block office_meta_dc_subject %}{% endblock %}</dc:subject>
    <!-- IN TAG: BLOCK OFFICE_META_DC_DESCRIPTION -->
    <dc:description>{% block office_meta_dc_description %}description{% endblock %}</dc:description>

    <dc:date>{% now 'c' %}</dc:date>
    <dc:language>{{ LANGUAGE_CODE|default:"ru" }}</dc:language>
    <meta:generator>ReportAPI &lt;https://bitbucket.org/rosix/django-reportapi&gt;</meta:generator>
    <meta:creator>{% full_username user %}</meta:creator>
    <meta:creation-date>{{ DOCUMENT.created|date:'c' }}</meta:creation-date>

<!-- ENDBLOCK OFFICE_META -->
{% endblock %}</office:meta>

<office:settings>{% block office_settings %}<!-- PLACE BLOCK OFFICE_SETTINGS -->{% endblock %}</office:settings>

<office:scripts>{% block office_scripts %}
<!-- BLOCK OFFICE_SCRIPTS -->
{% include "reportapi/flatxml/includes/scripts.html" %}
<!-- ENDBLOCK OFFICE_SCRIPTS -->
{% endblock %}</office:scripts>

<office:font-face-decls>{% block office_font_face_decls %}
<!-- BLOCK OFFICE_FONT_FACE_DECLS -->
{% include "reportapi/flatxml/includes/font-face-decls.html" %}
<!-- ENDBLOCK OFFICE_FONT_FACE_DECLS -->
{% endblock %}</office:font-face-decls>

<office:styles>{% block office_styles %}
<!-- BLOCK OFFICE_STYLES -->
{% include "reportapi/flatxml/includes/styles.html" %}
<!-- ENDBLOCK OFFICE_STYLES -->
{% endblock %}</office:styles>

<office:automatic-styles>{% block automatic_styles %}
<!-- BLOCK AUTOMATIC_STYLES -->

{% block automatic_styles_page %}
<!-- BLOCK AUTOMATIC_STYLES_PAGE -->
{% include "reportapi/flatxml/includes/automatic-styles-page.html" %}
<!-- ENDBLOCK AUTOMATIC_STYLES_PAGE -->
{% endblock %}

{% block brand_styles %}
<!-- BLOCK BRAND_STYLES -->
{% include "reportapi/flatxml/includes/automatic-styles-brand.html" %}
<!-- ENDBLOCK BRAND_STYLES -->
{% endblock %}

{% block table_styles %}<!-- PLACE BLOCK TABLE_STYLES -->{% endblock %}

<!-- ENDBLOCK AUTOMATIC_STYLES -->
{% endblock %}</office:automatic-styles>

<office:master-styles>{% block master_styles %}
<!-- BLOCK MASTER_STYLES -->
{% include "reportapi/flatxml/includes/master-styles.html" %}
<!-- ENDBLOCK MASTER_STYLES -->
{% endblock %}</office:master-styles>

<office:body>{% block office_body %}<!-- PLACE BLOCK OFFICE_BODY -->{% endblock %}</office:body>

</office:document>
