{% extends 'reportapi/flatxml/base.html' %}{% comment %}<!--
 
    Copyright 2013-2015 Grigoriy Kramarenko <root@rosix.ru>

    This file is part of ReportAPI.

    ReportAPI is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    ReportAPI is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with ReportAPI. If not, see
    <http://www.gnu.org/licenses/>.
-->
{% endcomment %}{% load i18n l10n reportapi_base %}

{% block table_styles %}
<!-- BLOCK TABLE_STYLES -->
    <!--
    Read the document:
    http://docs.oasis-open.org/office/v1.2/os/OpenDocument-v1.2-os-part1.html#__RefHeading__1415580_253892949
    -->

    <!-- Standard table style for default A4 page
        if left field == 2.0cm and right field == 0.6cm
        then table width == 21cm - 2cm - 0.6cm == 18.4cm
    -->
    <style:style style:name="StandardTable" style:family="table">
        <style:table-properties
            style:width="{% block standard_table_width %}18.4cm{% endblock %}"
            table:align="left"/>
    </style:style>

    <!-- Set of column styles for default A4 page -->

    <!-- Auto fill -->
    <style:style style:name="TableColumnAuto" style:family="table-column">
        <style:table-column-properties/>
    </style:style>

    <style:style style:name="TableColumn-0.5" style:family="table-column">
        <style:table-column-properties style:column-width="0.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-0.75" style:family="table-column">
        <style:table-column-properties style:column-width="0.75cm"/>
    </style:style>

    <style:style style:name="TableColumn-1.0" style:family="table-column">
        <style:table-column-properties style:column-width="1.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-1.25" style:family="table-column">
        <style:table-column-properties style:column-width="1.25cm"/>
    </style:style>

    <style:style style:name="TableColumn-1.5" style:family="table-column">
        <style:table-column-properties style:column-width="1.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-1.75" style:family="table-column">
        <style:table-column-properties style:column-width="1.75cm"/>
    </style:style>

    <style:style style:name="TableColumn-2.0" style:family="table-column">
        <style:table-column-properties style:column-width="2.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-2.25" style:family="table-column">
        <style:table-column-properties style:column-width="2.25cm"/>
    </style:style>

    <style:style style:name="TableColumn-2.5" style:family="table-column">
        <style:table-column-properties style:column-width="2.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-2.75" style:family="table-column">
        <style:table-column-properties style:column-width="2.75cm"/>
    </style:style>

    <style:style style:name="TableColumn-3.0" style:family="table-column">
        <style:table-column-properties style:column-width="3.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-3.25" style:family="table-column">
        <style:table-column-properties style:column-width="3.25cm"/>
    </style:style>

    <style:style style:name="TableColumn-3.5" style:family="table-column">
        <style:table-column-properties style:column-width="3.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-3.75" style:family="table-column">
        <style:table-column-properties style:column-width="3.75cm"/>
    </style:style>

    <style:style style:name="TableColumn-4.0" style:family="table-column">
        <style:table-column-properties style:column-width="4.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-4.25" style:family="table-column">
        <style:table-column-properties style:column-width="4.25cm"/>
    </style:style>

    <style:style style:name="TableColumn-4.5" style:family="table-column">
        <style:table-column-properties style:column-width="4.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-4.75" style:family="table-column">
        <style:table-column-properties style:column-width="4.75cm"/>
    </style:style>

    <style:style style:name="TableColumn-5.0" style:family="table-column">
        <style:table-column-properties style:column-width="5.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-5.5" style:family="table-column">
        <style:table-column-properties style:column-width="5.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-6.0" style:family="table-column">
        <style:table-column-properties style:column-width="6.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-6.5" style:family="table-column">
        <style:table-column-properties style:column-width="6.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-7.0" style:family="table-column">
        <style:table-column-properties style:column-width="7.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-7.5" style:family="table-column">
        <style:table-column-properties style:column-width="7.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-8.0" style:family="table-column">
        <style:table-column-properties style:column-width="8.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-8.5" style:family="table-column">
        <style:table-column-properties style:column-width="8.5cm"/>
    </style:style>

    <style:style style:name="TableColumn-9.0" style:family="table-column">
        <style:table-column-properties style:column-width="9.0cm"/>
    </style:style>

    <style:style style:name="TableColumn-9.5" style:family="table-column">
        <style:table-column-properties style:column-width="9.5cm"/>
    </style:style>


    <!-- Standard table cell styles
    a - first row
    A - starts columns
    z - ends rows
    Z - end column

    |aA|aA|aZ|
    |zA|zA|zZ|
    |zA|zA|zZ|

    aA borders: top-left-bottom
    aZ borders: top-left-bottom-right
    zA borders: left-bottom
    zZ borders: left-bottom-right

    -->

    <style:style style:name="TH.aZ" style:family="table-cell">
        <style:table-cell-properties
            fo:background-color="#e6e6e6"
            fo:padding="0.05cm"
            fo:border-left="0.05pt solid #000000"
            fo:border-right="0.05pt solid #000000"
            fo:border-top="0.05pt solid #000000"
            fo:border-bottom="0.05pt solid #000000"
            style:shadow="none">
        </style:table-cell-properties>
    </style:style>

    <style:style style:name="TH.aA" style:family="table-cell">
        <style:table-cell-properties
            fo:background-color="#e6e6e6"
            fo:padding="0.05cm"
            fo:border-left="0.05pt solid #000000"
            fo:border-right="none"
            fo:border-top="0.05pt solid #000000"
            fo:border-bottom="0.05pt solid #000000"
            style:shadow="none">
        </style:table-cell-properties>
    </style:style>

    <style:style style:name="TH.zZ" style:family="table-cell">
        <style:table-cell-properties
            fo:background-color="#e6e6e6"
            fo:padding="0.05cm"
            fo:border-left="0.05pt solid #000000"
            fo:border-right="0.05pt solid #000000"
            fo:border-top="none"
            fo:border-bottom="0.05pt solid #000000"
            style:shadow="none">
        </style:table-cell-properties>
    </style:style>

    <style:style style:name="TH.zA" style:family="table-cell">
        <style:table-cell-properties
            fo:background-color="#e6e6e6"
            fo:padding="0.05cm"
            fo:border-left="0.05pt solid #000000"
            fo:border-right="none"
            fo:border-top="none"
            fo:border-bottom="0.05pt solid #000000"
            style:shadow="none">
        </style:table-cell-properties>
    </style:style>

    <style:style style:name="TD.aZ" style:family="table-cell">
        <style:table-cell-properties
            fo:padding="0.05cm"
            fo:border-left="0.05pt solid #000000"
            fo:border-right="0.05pt solid #000000"
            fo:border-top="0.05pt solid #000000"
            fo:border-bottom="0.05pt solid #000000"
            style:shadow="none">
        </style:table-cell-properties>
    </style:style>

    <style:style style:name="TD.aA" style:family="table-cell">
        <style:table-cell-properties
            fo:padding="0.05cm"
            fo:border-left="0.05pt solid #000000"
            fo:border-right="none"
            fo:border-top="0.05pt solid #000000"
            fo:border-bottom="0.05pt solid #000000"
            style:shadow="none">
        </style:table-cell-properties>
    </style:style>

    <style:style style:name="TD.zZ" style:family="table-cell">
        <style:table-cell-properties
            fo:padding="0.05cm"
            fo:border-left="0.05pt solid #000000"
            fo:border-right="0.05pt solid #000000"
            fo:border-top="none"
            fo:border-bottom="0.05pt solid #000000"
            style:shadow="none">
        </style:table-cell-properties>
    </style:style>

    <style:style style:name="TD.zA" style:family="table-cell">
        <style:table-cell-properties
            fo:padding="0.05cm"
            fo:border-left="0.05pt solid #000000"
            fo:border-right="none"
            fo:border-top="none"
            fo:border-bottom="0.05pt solid #000000"
            style:shadow="none">
        </style:table-cell-properties>
    </style:style>


<!-- ENDBLOCK TABLE_STYLES -->
{% endblock %}


{% block office_body %}
<!-- BLOCK OFFICE_BODY -->

<office:text>
    <text:sequence-decls>
        <text:sequence-decl text:display-outline-level="0" text:name="Illustration"/>
        <text:sequence-decl text:display-outline-level="0" text:name="Table"/>
        <text:sequence-decl text:display-outline-level="0" text:name="Text"/>
        <text:sequence-decl text:display-outline-level="0" text:name="Drawing"/>
    </text:sequence-decls>

{% block body %}
<!-- BLOCK BODY -->

    {% block header %}
    <!-- BLOCK HEADER -->

    <text:h text:style-name="Heading1">{% block header_title %}{{ DOCUMENT }}{% endblock %}</text:h>
    {% block header_after_title %}<!-- PLACE BLOCK HEADER_AFTER_TITLE -->{% endblock %}

    <!-- ENDBLOCK HEADER -->
    {% endblock %}

    {% block filters %}
    <!-- BLOCK FILTERS -->
    {% if FILTERS %}
    <text:h text:style-name="HeadingSmall">{% trans 'Filters' %}</text:h>
    <table:table table:name="TableFilters" table:style-name="StandardTable"
        table:display-name="{% trans 'Table Filters' %}">

        <table:table-column table:style-name="TableColumn-4.0"/>
        <table:table-column table:style-name="TableColumn-4.0"/>
        <table:table-column table:style-name="TableColumnAuto"/>

        <table:table-header-rows>
            <table:table-row>
                <table:table-cell table:style-name="TH.aA" office:value-type="string">
                    <text:p text:style-name="THContent">{% trans "name" %}</text:p>
                </table:table-cell>
                <table:table-cell table:style-name="TH.aA" office:value-type="string">
                    <text:p text:style-name="THContent">{% trans "condition" %}</text:p>
                </table:table-cell>
                <table:table-cell table:style-name="TH.aZ" office:value-type="string">
                    <text:p text:style-name="THContent">{% trans "value" %}</text:p>
                </table:table-cell>
            </table:table-row>
        </table:table-header-rows>
    {% for filter in FILTERS %}
        <table:table-row>
            <table:table-cell table:style-name="TD.zA" office:value-type="string">
                <text:p text:style-name="TDContent">{{ filter.label|lower }}</text:p>
            </table:table-cell>
            <table:table-cell table:style-name="TD.zA" office:value-type="string">
                <text:p text:style-name="TDContent">{{ filter.condition_label|lower }}</text:p>
            </table:table-cell>
            <table:table-cell table:style-name="TD.zZ" office:value-type="string">
            {% if filter.condition == 'range' %}
                {% for x in filter.value_range_label %}<text:p text:style-name="TDContent">{{ x }}</text:p>{% endfor %}
            {% elif filter.condition == 'in' %}
                {% for x in filter.value_label %}<text:p text:style-name="TDContent">{{ x }}</text:p>{% endfor %}
            {% else %}
                <text:p text:style-name="TDContent">{{ filter.value_label }}</text:p>
            {% endif %}
            </table:table-cell>
        </table:table-row>
    {% endfor %}
    </table:table>
    {% endif %}
    <!-- ENDBLOCK FILTERS -->
    {% endblock %}

    {% block main_table %}
    <!-- BLOCK MAIN_TABLE -->

    <text:h text:style-name="HeadingSmall">{% block main_table_text %}{% trans 'Table of data' %}{% endblock %}</text:h>
    <table:table table:name="Table1" table:style-name="StandardTable"
        table:display-name="{% block main_table_display_name %}{% trans 'Table of data' %}{% endblock %}">
        {% block main_table_colls %}<!-- PLACE BLOCK MAIN_TABLE_COLLS -->{% endblock %}

        <table:table-header-rows>{% block main_table_header_rows %}
        <!-- PLACE BLOCK MAIN_TABLE_HEADER_ROWS -->
            <table:table-row>
                <table:table-cell table:style-name="TH.aZ" office:value-type="string">
                    <text:p text:style-name="THContent">{% trans 'Please, replace block' %} `main_table_header_rows` </text:p>
                </table:table-cell>
            </table:table-row>
        {% endblock %}</table:table-header-rows>

        {% block main_table_rows %}
        <!-- PLACE BLOCK MAIN_TABLE_ROWS -->
        <table:table-row>
            <table:table-cell table:style-name="TD.zZ" office:value-type="string">
                <text:p text:style-name="TDContent">{% trans 'Please, replace block' %} `main_table_rows` {% trans 'in your template...' %}
                </text:p>
            </table:table-cell>
        </table:table-row>
        {% endblock %}

        {% block main_table_footer_rows %}
        <!-- PLACE BLOCK MAIN_TABLE_FOOTER_ROWS -->
        <table:table-row>
            <table:table-cell table:style-name="TH.zZ" office:value-type="string">
                <text:p text:style-name="THContent">{% trans 'Please, replace block' %} `main_table_footer_rows`</text:p>
            </table:table-cell>
        </table:table-row>
        {% endblock %}

    </table:table>

    <!-- ENDBLOCK MAIN_TABLE -->
    {% endblock %}

    {% block footer %}<!-- PLACE BLOCK FOOTER -->{% endblock %}

<!-- ENDBLOCK BODY -->
{% endblock body %}

</office:text>

<!-- ENDBLOCK OFFICE_BODY -->
{% endblock office_body %}
