{% extends 'reportapi/base.html' %}{% comment %}<!--
 
    Copyright 2013-2015 Grigoriy Kramarenko <root@rosix.ru>

    This file is part of ReportAPI.

    ReportAPI is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    ReportAPI is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with ReportAPI. If not, see
    <http://www.gnu.org/licenses/>.
-->
{% endcomment %}{% load i18n l10n %}

{% block navbar %}{% endblock %}
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
    <div class="inner cover">
        <h1 class="cover-heading">500</h1>
        <p class="lead">{% trans "Internal error of the server." %}</p>
        <p class="lead">{% trans "Project administrator will consider in the near future this a bug." %}</p>
    </div>
{% endblock %}


