{% extends 'reportapi/base.html' %}{% comment %}<!--
 
    Copyright 2013-2015 Grigoriy Kramarenko <root@rosix.ru>

    This file is part of ReportAPI.

    ReportAPI is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    ReportAPI is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with ReportAPI. If not, see
    <http://www.gnu.org/licenses/>.
-->
{% endcomment %}
{% load i18n l10n reportapi_base %}{% load url from reportapi_compat %}

{% block content %}

{% block breadcrumbs %}
{% if report %}
    <ol class="breadcrumb">
        <li><a href="{% url 'reportapi:index' %}">{% trans 'Reporting' %}</a></li>
        <li><a href="{% url 'reportapi:report_list' section.name %}">{{ section.label|capfirst }}</a></li>
        <li class="active">{{ report.label|capfirst }}</li>
        <li><a href="{% url 'reportapi:report' report.section report.name %}">{% trans 'Create New' %}</a></li>
    </ol>
{% endif %}
{% endblock %}

{% block report_list %}{% endblock %}

{% if docs %}

<h3>{% block page_legend %}{% trans 'Last formed documents' %}{% endblock %}</h3>

<div class="row">
    {% for doc in docs %}
    <div id="view-{{ doc.pk }}" class="col-xs-12">
        <div class="panel {% if doc.error %}panel-danger{% elif not doc.end %}panel-warning{% else %}panel-success{% endif %}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ doc }}
                <span class="pull-right">
                    <span class="label
                    {% if not doc.end %}
                         label-warning">{% trans 'in the making' %}
                    {% elif doc.error or doc.convert.error %}
                         label-danger">{{ doc.end }}
                    {% else %}
                         label-success">{{ doc.end }}
                    {% endif %}
                    </span>&nbsp;
                    <span class="badge" title="ID">{{ doc.pk }}</span>
                </span>
                </h4>
            </div>

            <div class="panel-body">

                <dl class="dl-horizontal">
                    <dt>{% trans 'Author' %}</dt>
                    <dd>{{ doc.user.get_full_name|default:doc.user }}</dd>
                    <dt>{% trans 'Filters' %}</dt>
                    <dd>{{ doc.description|linebreaks }}</dd>
                    <dt>{% trans 'Links' %}</dt>
                    <dd id="dd-links-{{ doc.pk }}" class="dd-links">
                    {% if doc.end %} 
                        {% if doc.has_view_html or doc.error %}
                        <a href="#view-{{ doc.pk }}" onClick="handlerShowDocument('{% url 'reportapi:view_document' doc.pk 'html' %}', 'document-{{ doc.pk }}')" 
                            class="btn btn-link btn-xs" role="button"
                            title="{% trans 'View' %}">
                            <i class="fa fa-2x {% if doc.error %}fa-bug{% else %}fa-search{% endif %}"></i>
                            <span>{% trans 'View' %}</span>
                        </a>
                        {% endif %}
                        {% if doc.has_view_pdf %}
                        <a href="#view-{{ doc.pk }}" onClick="handlerShowDocument('{% url 'reportapi:view_document' doc.pk 'pdf' %}', 'document-{{ doc.pk }}')" 
                            class="btn btn-link btn-xs" role="button"
                            title="{% trans 'View' %} PDF">
                            <i class="fa fa-2x fa-file-pdf-o text-danger"></i>
                            <span>{% trans 'View' %} PDF</span>
                        </a>
                        {% endif %}
                        {% if doc.has_download_xml %}
                        <a href="{% url 'reportapi:download_document' doc.pk 'xml' %}"
                            download="{{ doc.get_filename_xml }}"
                            class="btn btn-link btn-xs" role="button"
                            title="{% trans 'Download' %} {{ doc.xml_format }}">
                            <i class="fa fa-2x fa-file-code-o text-success"></i>
                            <span>{% trans 'Download' %} {{ doc.xml_format }}</span>
                        </a>
                        {% endif %}
                        {% if doc.has_download_odf %}
                        <a href="{% url 'reportapi:download_document' doc.pk 'odf' %}"
                            download="{{ doc.get_filename_odf }}"
                            class="btn btn-link btn-xs" role="button"
                            title="{% trans 'Download' %} {{ doc.odf_format }}">
                            <i class="fa fa-2x fa-file-text-o text-info"></i>
                            <span>{% trans 'Download' %} {{ doc.odf_format }}</span>
                        </a>
                        {% endif %}
                        {% if doc.has_download_pdf %}
                        <a href="{% url 'reportapi:download_document' doc.pk 'pdf' %}"
                            download="{{ doc.get_filename_pdf }}"
                            class="btn btn-link btn-xs" role="button"
                            title="{% trans 'Download' %} PDF">
                            <i class="fa fa-2x fa-file-pdf-o text-danger"></i>
                            <span>{% trans 'Download' %} PDF</span>
                        </a>
                        {% endif %}
                    {% endif %}
                        <a href="{{ doc.register.get_absolute_url }}" class="btn btn-link btn-xs"
                            role="button" title="{% trans 'Create New' %}">
                            <span class="fa-stack fa-lg text-primary">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                            <span>{% trans 'Create New' %}</span>
                        </a>
                    {% if user.is_superuser or user == doc.user %}
                        <a href="#" onClick="handlerRemoveDocument({{ doc.pk }}, true)" 
                            class="btn btn-link btn-xs" role="button"
                            title="{% trans 'Remove' %}">
                            <i class="fa fa-2x fa-times text-danger"></i>
                            <span>{% trans 'Remove' %}</span>
                        </a>
                    {% endif %}
                    </dd>
                </dl>
                <div id="view-document-{{ doc.pk }}" class="panel panel-default" style="display:none; padding-top: 20px;">
                    <div class="embed-responsive embed-responsive-16by9"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
    <h1 class="text-center">{% trans 'Choose report and create document' %}</h1>
{% endif %}

{% endblock %}
