{% extends 'reportapi/base.html' %}
{% load i18n l10n %}{% load url from future %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{% url 'reportapi:index' %}">{% trans 'Reporting' %}</a></li>
    <li><a href="{% url 'reportapi:report_list' section.name %}">{{ section.label|capfirst }}</a></li>
    <li class="active">{{ report.label }}</li>
    <li><a href="{% url 'reportapi:documents_section_name' report.section report.name %}">
        {% trans "Ready documents" %}</a>
    </li>
</ol>

<legend>{{ report.label }}</legend>
<p></p>
<table class="table table-condensed table-striped">
    <tbody>
{% for name, filter in report.filters_list %}
    {% if filter.type == 'boolean' %}
        <tr class="bg-warning">
            <td colspan="3" style="vertical-align: middle;">
                <label>
                    <input id="value-{{ filter.name }}"
                        type="checkbox" name="{{ filter.name }}"
                        class="ace ace-switch ace-switch-4">
                    <span class="lbl">&nbsp;<b>{{ filter.label|title }}</b></span>
                </label>
            </td>
        </tr>
    {% else %}
        <tr>
            <th class="col-xs-2">{{ filter.label|title }}</th>
            <td class="col-xs-2" style="vertical-align: middle;">
                <select class="form-control"
                    id="condition-{{ filter.name }}"
                    data-type="{{ filter.type }}"
                    data-name="{{ filter.name }}">
                    <option value="">&lt;{% trans 'no condition' %}&gt;</option>
                    {% for cond, label in filter.conditions %}
                        <option value="{{ cond }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </td>
            <td id="valuebox-{{ filter.name }}" style="vertical-align: middle;">
                {% if filter.required %}
                    <label class="text-danger">{% trans 'Filter required' %}</label>
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <div class="progress" style="margin-bottom: 0px;">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%;">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="btn-group btn-group-justified">
                    <a href="#" type="button" class="btn btn-default" disabled style="display: none; margin-top: 0px;"></a>
                    <a href="#" type="button" class="btn btn-primary action-create-report" disabled role="button">
                        {% trans 'Create document' %}
                    </a>
                    <a href="#" type="button" class="btn btn-danger action-recreate-report"
                        style="display: none; margin-top: 0px;" disabled role="button">
                        {% trans 'Recreate document' %}
                    </a>
                    <a href="#view-document-place" type="button"
                        class="btn btn-default action-preview" disabled role="button">
                        <i class="fa fa-search"></i>
                        {% trans 'View' %}
                    </a>
                    <a href="#" type="button"
                        class="btn btn-danger action-remove" disabled role="button">
                        <i class="fa fa-times"></i>
                        {% trans 'Remove' %}
                    </a>
                    <a href="#" type="button" class="btn btn-default" disabled style="display: none; margin-top: 0px;"></a>
                </div>
            </td>
        </tr>
        
    </tfoot>
</table>

<div id="view-document-place" style="display:none; padding-top: 60px;">
    <div class="embed-responsive embed-responsive-4by3"></div>
</div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        window.REPORT = {{ report_as_json|safe }};
    </script>
{% endblock %}
