{% extends 'reportapi/base.html' %}
{% load i18n l10n %}

{% block content %}
<div class="row">
    {% for name, filter in report.filters_list %}
        <div class="col-xs-12 col-lg-6">
        {% if filter.type == 'boolean' %}
            <table class="table table-bordered{% if not filter.required %} additional-filter{% endif %}"
                {% if not filter.required %}style="display: none;"{% endif %}>
                <tbody>
                    <tr class="bg-warning">
                        <td style="vertical-align: middle;">
                            <label>
                                <input id="value-{{ filter.name }}"
                                    type="checkbox" name="{{ filter.name }}"
                                    class="ace ace-switch ace-switch-4">
                                <span class="lbl">&nbsp;<b>{{ filter.label|title }}</b></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <table class="table table-bordered table-striped{% if not filter.required %} additional-filter{% endif %}"
                {% if not filter.required %}style="display: none;"{% endif %}>
                <thead>
                    <tr class="{% if filter.required %}bg-primary{% else %}bg-info{% endif %}">
                        <th colspan="2">{{ filter.label|title }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-xs-4">
                            <select class="form-control"
                                id="condition-{{ filter.name }}"
                                data-type="{{ filter.type }}"
                                data-name="{{ filter.name }}">
                                <option value="">&lt;{% trans 'no condition' %}&gt;</option>
                                {% for cond, label in filter.conditions %}
                                    <option value="{{ cond }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td id="valuebox-{{ filter.name }}" style="vertical-align: middle;">
                            {% if filter.required %}
                                <label class="text-danger">{% trans 'Filter required' %}</label>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        </div>
    {% endfor %}
</div>

<div class="row">
    <p class="col-xs-12 col-md-6">
        <button type="button" class="btn btn-default btn-block btn-lg action-show-additional">
            {% trans 'Show additional' %}
        </button>
        <button type="button" class="btn btn-default btn-block btn-lg action-hide-additional"
            style="display: none; margin-top: 0px;">
            {% trans 'Hide additional' %}
        </button>
    </p>
    <p class="col-xs-12 col-md-6">
        <button type="button" class="btn btn-primary btn-block btn-lg action-create-report" disabled>
            {% trans 'Create document' %}
        </button>
        <button type="button" class="btn btn-danger btn-block btn-lg action-recreate-report"
            style="display: none; margin-top: 0px;">
            {% trans 'Recreate document' %}
        </button>
    </p>
</div>

<div class="progress" style="display: none;">
    <div class="progress-bar" role="progressbar"
        aria-valuemin="0" aria-valuemax="100">
    </div>
</div>

<div class="row">
    <p class="col-xs-12 col-md-6">
        <button 
            class="btn btn-default btn-block action-preview" role="button"
            style="display: none;">
            <i class="fa fa-search"></i>
            {% trans 'View' %}
        </button>
    </p>
    <p class="col-xs-12 col-md-6">
        <a href="#" class="btn btn-primary btn-block action-download" role="button"
            style="display: none;">
            <i class="fa fa-cloud-download"></i>
            {% trans 'Download' %} {{ report.format|upper }}
        </a>
    </p>
</div>


{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        window.REPORT = {{ report_as_json|safe }};
        handlerMaskInputs();
    </script>
{% endblock %}
