{% extends 'reportapi/base.html' %}
{% load i18n l10n %}

{% block content %}
{% if last_docs_user %}
    <legend>{% trans 'Last documents of user' %}</legend>
    {% for doc in last_docs_user %}
        <div>{{ doc }} {{ doc.register.get_absolute_url }}</div>
    {% endfor %}
{% endif %}
{% if last_docs %}
    <legend>{% trans 'Last documents' %}</legend>
    {% for doc in last_docs %}
        <div>{{ doc }} {{ doc.register.get_absolute_url }}</div>
    {% endfor %}
{% endif %}

{% endblock %}
