{% extends 'reportapi/index.html' %}
{% load i18n l10n reportapi_base %}{% load url from future %}

{% block report_list %}
<legend>{% trans 'List of reports in section' %} &laquo;{{ section.label }}&raquo;</legend>
<div class="row">
{% for report in reports %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
            <div class="caption bg-warning">
                <h3 class="text-center">{{ report.label }}</h3>
                <p class="text-center">
                    <a href="{% url 'reportapi:report' report.section report.name %}"
                        class="btn btn-danger btn-block" role="button">
                        <i class="fa fa-gears"></i>
                        {% trans 'Create new' %}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
