{% extends 'reportapi/base.html' %}{% comment %}<!--
 
    Copyright 2013-2015 Grigoriy Kramarenko <root@rosix.ru>

    This file is part of ReportAPI.

    ReportAPI is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    ReportAPI is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with ReportAPI. If not, see
    <http://www.gnu.org/licenses/>.
-->
{% endcomment %}
{% load i18n l10n %}{% load url from reportapi_compat %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{% url 'reportapi:index' %}">{% trans 'Reporting' %}</a></li>
    <li><a href="{% url 'reportapi:report_list' section.name %}">{{ section.label|capfirst }}</a></li>
    <li class="active">{{ report.label }}</li>
    <li><a href="{% url 'reportapi:documents_section_name' report.section report.name %}">
        {% trans "Ready documents" %}</a>
    </li>
</ol>

<legend>{{ report.label }}</legend>
<p></p>
<table class="table table-condensed table-striped">
    <tbody>
{% for name, filter in report.filters_list %}
        <tr>
            <td style="vertical-align: middle;">
            {% if filter.type == 'boolean' %}
                <div class="form-group">
                    <label class="col-xs-12">{{ filter.label|title }}</label>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                        {% if filter.usenone %}
                            <label class="btn btn-default {{ filter.value|yesno:',,active' }}">
                                <input type="radio" name="{{ filter.name }}"
                                    id="value-{{ filter.name }}-none"
                                    data-type="boolean"
                                    value="null" {{ filter.value|yesno:',,checked' }}>
                                 {{ filter.boolean_labels.NONE }}
                            </label>
                        {% endif %}
                            <label class="btn btn-default {{ filter.value|yesno:'active,,' }}">
                                <input type="radio" name="{{ filter.name }}"
                                    id="value-{{ filter.name }}-true"
                                    data-type="boolean"
                                    value="true" {{ filter.value|yesno:'checked,,' }}>
                                {{ filter.boolean_labels.TRUE }}
                            </label>
                            <label class="btn btn-default {{ filter.value|yesno:',active,' }}">
                                <input type="radio" name="{{ filter.name }}"
                                    id="value-{{ filter.name }}-false"
                                    data-type="boolean"
                                    value="false" {{ filter.value|yesno:',checked,' }}>
                                {{ filter.boolean_labels.FALSE }}
                            </label>
                        </div>
                    </div>
                    <div id="valuebox-{{ filter.name }}" class="col-xs-12 col-sm-8 col-md-9" style="vertical-align: middle;">
                        {% if filter.value %}
                            <label class="text-primary" style="padding-top: 6px;">{% trans 'default value' %}: {{ filter.value }}</label>
                        {% elif filter.required and not filter.usenone %}
                            <label class="text-danger" style="padding-top: 6px;">{% trans 'filter required' %}</label>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label class="col-xs-12">{{ filter.label|title }}</label>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <select class="form-control"
                            id="condition-{{ filter.name }}"
                            data-type="{{ filter.type }}"
                            data-name="{{ filter.name }}">
                            <option value="">&lt;{% trans 'select the condition' %}&gt;</option>
                            {% for cond, label in filter.conditions %}
                                <option value="{{ cond }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="valuebox-{{ filter.name }}" class="col-xs-12 col-sm-8 col-md-9" style="vertical-align: middle;">
                        {% if filter.value %}
                            <label class="text-primary" style="padding-top: 6px;">{% trans 'default value' %}: {{ filter.value }}</label>
                        {% elif filter.required %}
                            <label class="text-danger" style="padding-top: 6px;">{% trans 'filter required' %}</label>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
    <tfoot id="table-footer">
        <tr>
            <td>
                <div class="progress" style="margin-bottom: 0px;">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%;">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="view" class="btn-group btn-group-justified">
                    <a href="#" type="button" class="btn btn-default" disabled style="display: none; margin-top: 0px;"></a>
                    <a href="#" type="button" class="btn btn-primary action-create-report" disabled role="button">
                        <i class="fa fa-cog"></i>
                        {% trans 'Create document' %}
                    </a>
                    <a href="#" type="button" class="btn btn-danger action-recreate-report"
                        style="display: none; margin-top: 0px;" disabled role="button">
                        <i class="fa fa-cogs"></i>
                        {% trans 'Recreate document' %}
                    </a>
                    <a href="#view" type="button"
                        class="btn btn-default action-preview" disabled role="button">
                        <i class="fa fa-search"></i>
                        {% trans 'View' %}
                    </a>
                    <a href="#" type="button"
                        class="btn btn-default action-download type-odf" disabled role="button">
                        <i class="fa fa-file-text-o text-info"></i>
                        <span>{% trans 'Download' %} ODF</span>
                    </a>
                    <a href="#" type="button"
                        download="{{ report.label }}.pdf"
                        class="btn btn-default action-download type-pdf" disabled role="button">
                        <i class="fa fa-file-pdf-o text-danger"></i>
                        <span>{% trans 'Download' %} PDF</span>
                    </a>
                    <a href="#" type="button"
                        class="btn btn-danger action-remove" disabled role="button">
                        <i class="fa fa-times"></i>
                        {% trans 'Remove' %}
                    </a>
                    <a href="#" type="button" class="btn btn-default" disabled style="display: none; margin-top: 0px;"></a>
                </div>
            </td>
        </tr>
        
    </tfoot>
</table>

<div id="view-document-place" class="panel panel-default" style="display:none; padding-top: 20px;">
    <div class="embed-responsive embed-responsive-16by9"></div>
</div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        window.REPORT = {{ report_as_json|safe }};
        handlerCheckRequiredValue();
    </script>
{% endblock %}
