{# Шаблон Underscore #}{% comment %}<!--
 
    Copyright 2013-2015 Grigoriy Kramarenko <root@rosix.ru>

    This file is part of ReportAPI.

    ReportAPI is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    ReportAPI is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with ReportAPI. If not, see
    <http://www.gnu.org/licenses/>.
-->
{% endcomment %}{% load i18n l10n %}

<% if (!data.condition) { %>
    <!-- Нет условия -->
    <% if (data.required) { %>
        <label class="text-danger" style="padding-top: 6px;">{% trans 'filter required' %}</label>
    <% } %>
<% } else if (data.condition in {'isnull':0, 'empty':0}) { %>
    <!-- Условие на признак пустоты принимает всего 2 значения истинности -->
    <div class="btn-group" data-toggle="buttons">
        <!-- Кнопка "истина" -->
        <label class="btn btn-default <% if (data.value) { %>active<% } %>">
            <input type="radio" name="<%= data.name %>"
                id="value-<%= data.name %>-true"
                data-type="<%= data.type %>"
                value="true" <% if (data.value) { %>checked<% } %>>
            <%= data.boolean_labels.TRUE %>
        </label>
        <!-- Кнопка "ложь" -->
        <label class="btn btn-default <% if (!data.value) { %>active<% } %>">
            <input type="radio" name="<%= data.name %>"
                id="value-<%= data.name %>-false"
                data-type="<%= data.type %>"
                value="false" <% if (!data.value) { %>checked<% } %>>
            <%= data.boolean_labels.FALSE %>
        </label>
    </div>
<% } else if (data.type in {'datetime':0, 'date':0, 'time':0} && data.condition == 'range') { %>
    <!-- Диапазоны дат и времени -->
    <div class="row">
        <div class="col-xs-6">
            <div id="datetime-<%= data.name %>-range1" class="input-group date">
                <span class="input-group-addon">{% trans 'from' %}</span>
                <input
                    id="value-<%= data.name %>-range1"
                    type="text"
                    name="<%= data.name %>"
                    value="<% if (data.value) { %><%= data.value[0] %><% } %>"
                    class="form-control"
                    data-type="<%= data.type %>">
            </div>
        </div>
        <div class="col-xs-6">
            <div id="datetime-<%= data.name %>-range2" class="input-group date">
                <span class="input-group-addon">{% trans 'to' %}</span>
                <input
                    id="value-<%= data.name %>-range2"
                    type="text"
                    name="<%= data.name %>"
                    value="<% if (data.value) { %><%= data.value[1] %><% } %>"
                    class="form-control"
                    data-type="<%= data.type %>">
            </div>
        </div>
    </div>
<% } else { %>
    <!-- Остальные условия -->
    <% if (data.type in {'datetime':0, 'date':0, 'time':0}) { %>
        <div id="datetime-<%= data.name %>" class="input-group-">
    <% } %>
    <% if (data.type in {'object':0, 'choice':0, 'month':0, 'weekday':0, 'period':0 }) { %>
        <select
        <% if (data.condition in {'in':0, 'range':0}) { %>multiple<% } %>
        placeholder="<%= data.placeholder %>"
    <% } else { %>
        <input
    <% } %>

    id="value-<%= data.name %>"
    type="text"
    name="<%= data.name %>"
    value="<%= data.value %>"
    class="form-control"
    data-type="<%= data.type %>"

    <% if (data.type == 'number') { %>data-validate="number"<% } %>

    <% if (data.placeholder) { %>placeholder="<%= data.placeholder %>"<% } %>

    <% if (data.type in {'object':0, 'choice':0, 'month':0, 'weekday':0, 'period':0 }) { %>
        ></select>
    <% } else { %>
        />
    <% } %>

<% } %>
