{% comment %}<!--
 
    Copyright 2013-2015 Grigoriy Kramarenko <root@rosix.ru>

    This file is part of ReportAPI.

    ReportAPI is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    ReportAPI is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with ReportAPI. If not, see
    <http://www.gnu.org/licenses/>.
-->
{% endcomment %}{% load i18n l10n reportapi_base %}
    <style:master-page style:name="Standard" style:page-layout-name="{{ PAGE.style_name|default:'A4' }}" style:next-style-name="Standard">

        <style:header>
        {% if PAGE.disable_header != 'yes' %}
            <text:p>
                <draw:rect
                    text:anchor-type="paragraph"
                    text:rotation-angle="90"
                    draw:z-index="0"
                    draw:style-name="BRAND.line"
                    draw:text-style-name="BRAND.para-line"
                    draw:transform="rotate(1.571)"
                    svg:width="14.8cm"
                    svg:height="1.0cm"
                    svg:x="1.0cm"
                    svg:y="0.0cm">
                    <text:p text:style-name="BRAND.para-line">
                        <text:span text:style-name="BRAND.text-line">
                            {% if BRAND_TEXT %}{{ BRAND_TEXT }}{% else %}{% trans "Generated «ReportAPI»" %}{% endif %}
                        </text:span>
                    </text:p>
                </draw:rect>
            </text:p>
        {% endif %}
        </style:header>

        <style:footer>
        {% if PAGE.disable_footer != 'yes' %}
            <table:table table:name="tablefooter" table:style-name="tablefooter">
                <table:table-column table:style-name="tablefooter.A" table:number-columns-repeated="2"/>
                <table:table-row>
                    <table:table-cell office:value-type="string">
                        <text:p text:style-name="BRAND.footer-start">{{ DOCUMENT }}</text:p>
                        <text:p text:style-name="BRAND.footer-start">{% full_username user %}</text:p>
                    </table:table-cell>
                    <table:table-cell office:value-type="string">
                        <text:p text:style-name="BRAND.footer-end">
                            {% trans 'Page' %} <text:page-number text:select-page="current"/> {% trans 'of' %} <text:page-count/>
                        </text:p>
                        <text:p text:style-name="BRAND.footer-end">{% now 'DATETIME_FORMAT' %}</text:p>
                    </table:table-cell>
                </table:table-row>
            </table:table>
        {% endif %}
        </style:footer>
    </style:master-page>
